/**
* General
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: $bg-body !important;
  font-family: $font-default;
  font-size: $font-size;
  color: $font-color !important;
}

.container {
  background-color: $bg-body;
}
